.container-searchBar {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.input-searchBar {
  height: 2rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-image: url("../../img/searchBar.jpg");
  color: #fff;
  border: 1px solid black;
  border-radius: 15px;
  font-style: oblique;
}

.input-searchBar::placeholder {
  color: #fff;
  font-family: "Syne Tactile", cursive;
  font-size: 1.7rem;
}

.btn-searchBar {
  background: none;
  border: none;
  font-size: 3rem;
  cursor: pointer;
}
