::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-image: url("../img/searchBar.jpg");
  background-size: cover;
  border: 1px solid black;
}

::-webkit-scrollbar-thumb {
  background-image: url("../img/tabla-de-madera2.jpg");
  border: 1px solid rgba(0, 0, 0, 0.418);
  border-radius: 25px;
}
